.card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 5px;
    border: 3px solid;
    border-color: #2C3E50;
    background-color: #8EA4A6;
    padding: 10px;
    margin: 2%;
    filter: drop-shadow(0 2px 2px rgba(0,0,0,0.2) )
}