header {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.link {
    margin: 5px;
}

.header > :nth-child(1) {
    margin-right: auto;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    margin-right: 10px;
}

main {
    background-color: aquamarine;
}

.tasks-section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15px;
}


@media screen and (min-width: 330px) {

}

@media screen and (min-width: 600px) {
    .tasks-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .tasks-section {
        grid-template-columns: repeat(3, 1fr);
    }
}